<div class="containter mt-5">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form #frm="ngForm" (ngSubmit)="KayitYap()">
        <div class="card">
          <div class="card-header text-center"><h4>Üye Kayıt</h4></div>
          <div class="card-body">
            <div class="form-gruop">
              <label for="">Ad Soyad</label>
              <input
                type="text"
                class="form-control"
                name="adsoyad"
                #adsoyad
                [(ngModel)]="secUye.adsoyad"
                required
              />
            </div>
            <div class="form-gruop">
              <label for="">E-Posta Adresi</label>
              <input
                type="text"
                class="form-control"
                name="mail"
                #mail
                [(ngModel)]="secUye.mail"
                required
              />
            </div>
            <div class="form-gruop">
              <label for="">Parola</label>
              <input
                type="password"
                class="form-control"
                name="parola"
                #parola
                [(ngModel)]="secUye.parola"
                required
              />
            </div>
          </div>
          <div class="card-footer">
            <input
              type="submit"
              class="btn btn-outline-primary btn-block"
              value="Kayıt Ol"
              [disabled]="frm.invalid"
            />
            <button class="btn btn-link btn-block" [routerLink]="['/login']">
              Giriş Yap
            </button>
          </div>
        </div>
      </form>
      <div
        [ngClass]="sonuc.islem ? 'alert alert-success' : 'alert alert-danger'"
        *ngIf="sonuc.mesaj?.length"
      >
        {{ sonuc.mesaj }}
      </div>
    </div>
  </div>
</div>
